<!DOCTYPE html>
<head>
    <title>All Foods</title>
</head>
<body>
    <h1>All Foods</h1>
    <ul>
        {{#each foods}}
            <li>
                Name: {{this.name}}, Calories: {{this.calories}}, Protein: {{this.protein}}g, Carbs: {{this.carbs}}g, Fat: {{this.fat}}g
                <form action="/editIntake" method="POST" style="display:inline;">
                    <input type="hidden" name="calories" value="{{this.calories}}">
                    <input type="hidden" name="protein" value="{{this.protein}}">
                    <input type="hidden" name="carbs" value="{{this.carbs}}">
                    <input type="hidden" name="fat" value="{{this.fat}}">
                    <button type="submit">Ate Today</button>
                </form>
            </li>
        {{else}}
            <li>No foods found.</li>
        {{/each}}
    </ul>
    <a href="/">Back to Home</a>
</body>
