<!DOCTYPE html>
<head>
    <title>Food Tracker</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .forms-container {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: flex-start;
        }
        form div {
            margin-bottom: 10px;
        }
        #goalsDisplay {
            margin-top: 20px;
            font-weight: bold;
            text-align: center;
        }
        #resetGoalsButton {
            margin-top: 10px;
        }
        #resetDailyButton {
            margin-top: 10px;
        }
        h1, h2, p {
            text-align: center;
        }
        .flex-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .flex-item {
            flex: 1;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Food Tracker</h1>
    <main>
        <p>This website allows inputs of food and tracks the daily limit.</p>
        
        <div class="flex-container">
            <div class="flex-item">
                <h2>Goals</h2>
                <p>Protein: {{goals.protein}}g</p>
                <p>Carbs: {{goals.carbs}}g</p>
                <p>Fat: {{goals.fat}}g</p>
                <p>Vitamin D: {{goals.vitaminD}}μg</p>
                <p>Calcium: {{goals.calcium}}mg</p>
                <p>Iron: {{goals.iron}}mg</p>
                <p>Potassium: {{goals.potassium}}mg</p>
                <p>Sodium: {{goals.sodium}}mg</p>
            </div>
            <div class="flex-item">
                <h2>Daily Intake</h2>
                <p>Protein: {{dailyIntake.protein}}g</p>
                <p>Carbs: {{dailyIntake.carbs}}g</p>
                <p>Fat: {{dailyIntake.fat}}g</p>
                <p>Vitamin D: {{dailyIntake.vitaminD}}μg</p>
                <p>Calcium: {{dailyIntake.calcium}}mg</p>
                <p>Iron: {{dailyIntake.iron}}mg</p>
                <p>Potassium: {{dailyIntake.potassium}}mg</p>
                <p>Sodium: {{dailyIntake.sodium}}mg</p>
            </div>
        </div>
        
        {{#if goals.protein}}
            <form action="/resetGoals" method="POST" style="display:inline;">
                <button id="resetGoalsButton" type="submit">Reset Goals</button>
            </form>
        {{/if}}

        {{#if dailyIntake.protein}}
            <form action="/resetDaily" method="POST" style="display:inline;">
                <button id="resetDailyButton" type="submit">Reset Daily Intake</button>
            </form>
        {{/if}}


        <div class="forms-container">
            <div class="goal-form" style="{{#if goals.protein}}display:none{{/if}}">
                <h2>Set Your Daily Goals</h2>
                <form action="/setGoals" method="POST">
                    <div>
                        <label for="goalProtein">Protein Goal (g):</label>
                        <input type="number" id="goalProtein" name="protein" step="0" required>
                    </div>
                    <div>
                        <label for="goalCarbs">Carbohydrates Goal (g):</label>
                        <input type="number" id="goalCarbs" name="carbs" step="0" required>
                    </div>
                    <div>
                        <label for="goalFat">Fat Goal (g):</label>
                        <input type="number" id="goalFat" name="fat" step="0" required>
                    </div>
                    <div>
                        <label for="goalVitaminD">Vitamin D Goal (μg):</label>
                        <input type="number" id="goalVitaminD" name="vitaminD" step="0.1">
                    </div>
                    <div>
                        <label for="goalCalcium">Calcium Goal (mg):</label>
                        <input type="number" id="goalCalcium" name="calcium" step="0">
                    </div>
                    <div>
                        <label for="goalIron">Iron Goal (mg):</label>
                        <input type="number" id="goalIron" name="iron" step="0">
                    </div>
                    <div>
                        <label for="goalPotassium">Potassium Goal (mg):</label>
                        <input type="number" id="goalPotassium" name="potassium" step="0">
                    </div>
                    <div>
                        <label for="goalSodium">Sodium Goal (mg):</label>
                        <input type="number" id="goalSodium" name="sodium" step="0">
                    </div>
                    <div>
                        <button type="submit">Set Goals</button>
                    </div>
                </form>
            </div>

            <div class="food-form">
                <h2>Log Your Food</h2>
                <form action="/create" method="POST">
                    <div>
                        <label for="name">Food Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div>
                        <label for="protein">Protein (g):</label>
                        <input type="number" id="protein" name="protein" step="0" required>
                    </div>
                    <div>
                        <label for="carbs">Carbohydrates (g):</label>
                        <input type="number" id="carbs" name="carbs" step="0" required>
                    </div>
                    <div>
                        <label for="fat">Fat (g):</label>
                        <input type="number" id="fat" name="fat" step="0" required>
                    </div>
                    <div>
                        <label for="vitaminD">Vitamin D (μg):</label>
                        <input type="number" id="vitaminD" name="vitaminD" step="0.1">
                    </div>
                    <div>
                        <label for="calcium">Calcium (mg):</label>
                        <input type="number" id="calcium" name="calcium" step="0">
                    </div>
                    <div>
                        <label for="iron">Iron (mg):</label>
                        <input type="number" id="iron" name="iron" step="0">
                    </div>
                    <div>
                        <label for="potassium">Potassium (mg):</label>
                        <input type="number" id="potassium" name="potassium" step="0">
                    </div>
                    <div>
                        <label for="sodium">Sodium (mg):</label>
                        <input type="number" id="sodium" name="sodium" step="0">
                    </div>
                    <div>
                        <button type="submit">Add Food</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <button onclick="location.href='/foods'">All Foods</button>
        </div>
    </main>


</body>
